<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Optimize real estate investment allocation | RobotOpinion
  </title>

  <!-- CSS  -->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/zwickau.css" type="text/css" rel="stylesheet" media="screen,projection"/>


  <script src="//maps.google.com/maps/api/js?v=3&amp;libraries=visualization&key=AIzaSyDgeWFx_kGWHDEtYu6GI1Mtqfne7EBegvE"
          type="text/javascript"></script>
  <!--script type="text/javascript" src="//apis.google.com/js/client.js?key=AIzaSyDgeWFx_kGWHDEtYu6GI1Mtqfne7EBegvE"></script-->
  <!--script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDgeWFx_kGWHDEtYu6GI1Mtqfne7EBegvE"></script-->
  <script src="//unpkg.com/vue"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/fusiontips.js"></script>
</head>
<body>
  <nav class="light-green" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img class="ro-logo" src="img/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">menu</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" id="app1">

      <div class="">
        <div class="row center">
          <h5 class="header col s12">Netherlands</h5>
        </div>
      </div>

      <div class="search">
        <div class="search-wrapper input-field ">
          <input type="text" v-model="inputdata"  class="ro-input-search flow-text" placeholder="Enter address">
          <i v-on:click="searchAddress" class="material-icons ro-search-btn">search</i>
        </div>
      </div>

      <div class="row center hide not-found-container">
        <div class="col s12 m12">
          <span class="card-title-small blue-grey-text text-lighten-1 center-align"><p>Address not found. Please try again.</p></span>
        </div>
      </div>


      <div v-if="rows[0]" class="row center">
        <div class="col s12 m12">
          <!--h2 class="header">Search Result</h2-->
          <div  class="card horizontal">

            <div class="card-image">
              <img class="card-img" src="img/bld.png">
            </div>
            <div class="card-stacked">
              <span class="card-title-small blue-grey-text text-lighten-1 left-align"><p class="ro-card-title">Average rent rate in the area, per square metre: </p></span>

              <div class="card-content ">

                <div class="row">
                  <div class="col s8 m10">
                    <p class="flow-text left-align">{{rows[0].item}}</p>
                  </div>
                  <div class="col s4 m2">
                    <p class="flow-text left-align ro-price"><div v-bind:class=[getColorClass(),'chip','flow-text','lighten-3']><h5>€{{rows[0].price}}</h5></div></p></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m12">
                    <p class="card-title-small blue-grey-text text-lighten-1 left-align">In Highlighted Area:</p>
                  </div>
                  <!--</div>-->
                  <!--<div class="row">-->
                  <div class="col s12 m12 ro-result-info">
                    <p v-if="level == 0" class="flow-text-small left-align ro-green-circle">very cheap rent rates</p>
                    <p v-if="level == 1" class="flow-text-small left-align ro-yellow-circle">moderately cheap rent rates</p>
                    <p v-if="level == 2" class="flow-text-small left-align ro-orange-circle">moderately expensive rent rates</p>
                    <p v-if="level == 3" class="flow-text-small left-align ro-red-circle">very expensive rent rates</p>

                    <p v-if="vacancies<4" class="flow-text-small left-align ro-red-circle">very few vacancies</p>
                    <p v-if="vacancies>=4 && vacancies<=7 " class="flow-text-small left-align ro-yellow-circle">a few vacancies</p>
                    <p v-if="vacancies>7" class="flow-text-small left-align ro-green-circle">plenty of vacancies</p>



                  </div>
                </div>

              </div>
              <!--div class="card-action ro-card-action left-align">
                <a href="#">1 km</a>
                <a class="text-lighten-1" href="#">2 km</a>
                <a class="text-lighten-1" href="#">3 km</a>
              </div-->
            </div>

          </div>

        </div>
      </div>
      <div id="donate" class="card-content">
        <input v-on:click="showLayer(0)" class="btn-flat" type="radio" id="rd-bsn" name="radios" value="all" checked>
        <label for="rd-bsn">Rent Rates</label>
        <input v-on:click="showLayer(5)" class="btn-flat" type="radio" id="rd-cng" name="radios" value="all">
        <label for="rd-cng">Rent Rates Change</label>
        <input v-on:click="showLayer(1)" class="btn-flat" type="radio" id="rd-vac" name="radios" value="all">
        <label for="rd-vac">Registered Businesses</label>
        <input v-on:click="showLayer(2)" class="btn-flat" type="radio" id="rd-rate" name="radios" value="all">
        <label for="rd-rate">Vacancies</label>
        <input v-on:click="showLayer(3)" class="btn-flat" type="radio" id="rd-dyn" name="radios" value="all">
        <label for="rd-dyn">Vacancy Rates</label>

      </div>

      <div class="row center map-container">
        <div class="col s12 m12">
          <div  id="map-canvas" class="map-canvas "></div>
          <input id="googft-legend-open" style="display:none" type="button" value="Legend"></input>
          <div id="googft-legend">
            <p id="googft-legend-title">Rent Rate €/m²</p>
            <div>
              <span class="googft-legend-swatch" style="background-color: #00ff00"></span>
              <span class="googft-legend-range">< 9.8€</span>
            </div>
            <div>
              <span class="googft-legend-swatch" style="background-color: #ffff00"></span>
              <span class="googft-legend-range">9.8€-12.1€</span>
              <br/>
            </div>
            <div>
              <span class="googft-legend-swatch" style="background-color: #ff9900"></span>
              <span class="googft-legend-range">12.1€-16€</span>
              <br/>
            </div>
            <div>
              <span class="googft-legend-swatch" style="background-color: #ff0000"></span>
              <span class="googft-legend-range">16€-40€</span>
            </div>
            <input id="googft-legend-close" style="display:none" type="button" value="Hide"></input>
          </div>
          <input id="googft-legend-open-price" style="display:none" type="button" value="Legend"></input>
          <div id="googft-legend-price" class="hide">
            <p id="googft-legend-title-price">Rent Rate / m² </p>
            <div>
              <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/green-dot.png"/>
              <span class="googft-legend-range">€1 to €11</span>
            </div>
            <div>
              <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/yellow-dot.png"/>
              <span class="googft-legend-range">€11 to €16</span>
            </div>
            <div>
              <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/red-dot.png"/>
              <span class="googft-legend-range">€16 to €35</span>
            </div>
            <input id="googft-legend-close-price" style="display:none" type="button" value="Hide"></input>
          </div>
          <input id="googft-legend-open-change" style="display:none" type="button" value="Legend"></input>
          <div id="googft-legend-change" class="hide">
            <p id="googft-legend-title-change">Change Over 2009-2017 </p>
            <div>
              <span class="googft-legend-swatch" style="background-color: #00ff00"></span>
              <span class="googft-legend-range">-24€ to -3€</span>
            </div>
            <div>
              <span class="googft-legend-swatch" style="background-color: #ffff00"></span>
              <span class="googft-legend-range">-3€ to 3€</span>
              <br/>
            </div>
            <div>
              <span class="googft-legend-swatch" style="background-color: #ff0000"></span>
              <span class="googft-legend-range">3€ to 30€</span>
            </div>
            <input id="googft-legend-close-change" style="display:none" type="button" value="Hide"></input>
          </div>
      </div>

    </div>
  </div>


</div>

  <!--footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col 12 s12 ">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Our short-term goal is to collect data on every office building in Europe.</p>

        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      .
      </div>
    </div>
  </footer-->


  <!--  Scripts-->




  <script src="js/netherlands.js"></script>
  <script src="js/init.js"></script>
  </body>
</html>
